/node_modules
/public/admin
/public/css
/public/js
/public/hot
/public/storage
/public/site
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
